* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/* #: Common */

.btn {
    display: inline-block;
    padding: 0 16px;
    min-width: 118px;
    border-radius: 24.5px;
    line-height: 50px;
    vertical-align: middle;
    background: #171100;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration-line: none;
}

/* # Common */

.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header .nav {
    margin-left: auto;
}

.header .nav-list {
    display: flex;
}

.header .nav-link {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: 8px 21px;
    color: #171100;
    text-align: left;
    font-size: 1.6rem;
}

.header .nav-link:hover,
.header .nav-item.active {
    color: #171100;
    font-size: 1.6rem;
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
}

.header .nav-item.active .nav-link::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-bottom: 2px solid #171100;
    border-radius: 1px;
}

.header .action {
    margin-left: 49px;
}

.header .sign-up-btn {
    width: 144px;
}